name: cd pipeline

on:
  workflow_run:
    workflows: ["ci pipeline"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      - name: pull docker image
        run: sudo docker pull ${{ secrets.DOCKER_USERNAME }}/testcicd-flower:latest
      - name: Delete old container
        run: sudo docker rm -f testcicd-flower-container || true
      - name: Run new container
        run: sudo docker run -d -p 8080:8080 --name testcicd-flower-container ${{ secrets.DOCKER_USERNAME }}/testcicd-flower