name: CD Pipeline

on:
    workflow_run:
        workflows: ["CI Pipeline"]
        types:
            - completed
jobs:
    build:
        runs-on: self-hosted
        steps:
            - name: pull docker image
              run: docker pull maneeshaherath/fl:latest
            - name: Stop and remove existing container
              run: sudo docker rm -f fl || true
            - name: Run new container
              run: sudo docker run -d --name fl -p 3000:3000 maneeshaherath/fl:latest
                

          