name: CI Pipeline

on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: action checkout
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              env:
                DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
                DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
                run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD   

            - name: Build Docker image
              run: docker build -t maneeshaherath/flower:latest .

            - name: Push Docker image
              run: docker push maneeshaherath/flower:latest
